<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="blog-input">
    @if (errorText) {
      <div class="error-message">
        <mat-icon>error</mat-icon>
        {{ errorText }}
      </div>
    }

    <mat-form-field appearance="fill">
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title" />
      <mat-error>
        @if (title?.hasError("required")) {
          <span>Titel ist erforderlich</span>
        } @else if (title?.hasError("minlength")) {
          <span>Der Titel muss mindestens 2 Zeichen lang sein.</span>
        } @else if (title?.hasError("pattern")) {
          <span>Der Titel muss mit einem Großbuchstaben beginnen.</span>
        } @else if (title?.hasError("titleTaken")) {
          <span>Titel existiert bereits</span>
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Erzählen Sie Ihre Geschichte...</mat-label>
      <textarea matInput rows="16" formControlName="content"></textarea>
      <mat-error>
        @if (content?.hasError("required")) {
          <span>Inhalt ist erforderlich</span>
        } @else if (content?.hasError("minlength")) {
          <span>Der Inhalt muss mindestens 50 Zeichen lang sein.</span>
        }
      </mat-error>
    </mat-form-field>

    <div class="button-group">
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="submitDisabled || form.invalid || saving"
      >
        @if (saving) {
          <mat-icon>hourglass_top</mat-icon>
        }
        Veröffentlichen
      </button>

      <button type="button" mat-raised-button (click)="onReset()">
        Zurücksetzen
      </button>
    </div>
  </div>
</form>
