<main class="main">
  <mat-toolbar color="primary">
    <button
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Blog
    </button>
    <button mat-button routerLink="/demo" routerLinkActive="active-link">
      Demo
    </button>

    @if (isAuthenticated()) {
      @if (hasUserRole()) {
        <a mat-button routerLink="/add-blog" class="btn-primary">Neuer Blog</a>
      }
    }

    <span class="spacer"></span>

    @if (isAuthenticated()) {
      <span class="username">
        {{ userData().preferred_username }}
      </span>
      <button mat-button (click)="logout()">Logout</button>
    } @else {
      <button mat-button (click)="login()">Login</button>
    }
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
